div#header {
    display: block;  background: url(../images/header.jpg) no-repeat fixed;      height: 80px;  border-bottom-width: medium;  border-bottom-color: beige;  border-bottom-style: ridge;
}

body {
    background-image: url("../images/background.jpg");
}
.nav {
    float: left;  border-style: outset;  border-right-color: #0000ff;  border-right-width: 5px;  
    width: 140px;  height: 100%;
}
.condent {
    padding-left: 150px; width: 90%; height: 100%;
}
label#headerText {
    font-family: initial;
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    padding-left: 30px;
    float: left;
	color: antiquewhite;
}
label.headerLabel {
    font-family: initial;
    font-size: 20px;
    font-weight: bold;
	color: antiquewhite;
}
.loginDiv {
    float: right;
    padding-top: 22px;
    padding-right: 50px;
}
label.loginLabel {
    font-family: initial;
    font-size: 20px;
    font-weight: bold;
}
input[type="image"] {
    width: 986;
    height: 615;
    display: block;      margin-left: auto;      margin-right: auto;
}
div#main {
    width: 100%;
}

input.BtnsignOut {
    background: none!important;  border: none;  padding: 0!important;  border-bottom: 1px solid #0000AB;  cursor: pointer;
    color: antiquewhite;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
body {
    background-color: rgb(229, 226, 253);
}


.feedPost {
    display: block;
    padding: 10px;
}
input.txtFeed {
    width: 80%;
    height: 40px;
    font-family: monospace;
    font-size: 15px;
}
input.btnFeedPost {
    height: 40px;
    width: 60px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.urlFeedDiv {
    display: block;
    width: 80%;
    height: 80px;
	border-style: solid;    
    background: url(../images/background1.jpg) no-repeat fixed;          
    border: 10px solid rgb(24, 101, 238); 
    -moz-border-radius: 30px; -webkit-border-radius: 30px;
}

.txtFeedDiv {
    display: block;
    width: 80%;
    height: 80px;
	border-style: solid;    
    background: url(../images/background1.jpg) no-repeat fixed;          
    border: 10px solid rgb(42, 207, 62); 
    -moz-border-radius: 30px; -webkit-border-radius: 30px;
}

label.feedLabel {
    padding: 20px;
    font-family: cursive;
}

label.feedText {
    padding: 20px;
    font-family: cursive;
	width:200px;
}

input.btnDelFeed {
    background: none!important;  border: none;  padding: 0!important;
    font-weight: bold;
    font-size: 18px;
    float: right;
	cursor: pointer;
}

.feedDiv {
    padding-top: 20;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 15px;
}

.proImg {
    height: 50;
    width: 50;
}

.editProfile {
    height: 100%;
    width: 50%;
    float: left;
    display: block;
    padding-left: 50px;
    padding-top: 50px;
}

.profilepage {
	background: url(../images/background1.jpg) no-repeat fixed; 
	-moz-border-radius: 30px; -webkit-border-radius: 30px;
}
.editProfileImg {
    float: right;
    width: 50%;
    height: 100%;
    display: block;
}

.pImage {
    height: 152;
    width: 229;
}
#feedPage {
	height: inherit;
    overflow: auto;
}
